body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* box-sizing: border-box; */
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #7e7a7a;
    color: #f9faf8;
    justify-content: space-between;

}

h1 {
    align-items: center;
    padding-left: 200px;
}

.top-links {
    text-decoration: none;
    font-size: 20px;
    flex-wrap: wrap;
    color: #e5e7eb;
}

li {
    list-style: none;
}

ul.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

div.menu {
    display: flex;
    padding-right: 200px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #7e7a7a;
    height: 100px;
    color: #e5e7eb;
    font-size: 20px;
    margin-top: auto;
}

.section {
    display: flex;
    /* flex: 200px; */
    background-color: #141414;
    padding: 50px
}

.welcome {
    display: flex;
    margin-left: 50px;
    margin-right: 100px;
    flex-direction: column;
}

h2.top {
    font-size: 32px;
    color: #e5e7eb;
    padding-left: 50px;
}

button {
    margin: 0px auto 0px;
    background-color: #3b3b3b;
    border-radius: 10px;
}

a.enter-button {
    font-size: xx-large;
    text-decoration: none;
    color: #e5e7eb;
    /* background-image: linear-gradient(to bottom, rgb(117, 117, 117), transparent); */
    font-family: sans-serif;
    padding-inline: 10px 10px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 50px;
    padding-right: 150px;
    margin-top: 0px;
    margin-bottom: 50px;
}